<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Relação de entidades</h1>
          <p class="lead">Lista de clientes, fornecedores e agencias.</p>
          <small style="position: relative; bottom: 2%;"> Responsavel: <%= name %> </small><br>
          <small style="position: relative; bottom: 2%;"> Data: 14/10/2021 </small>
        </div>
    </div>

    <div class="container" style="max-width: 80%;">
        <div class="card" style="position: absolute; max-width: 40%;">
            <div class="card-body">
                <div class="media">
                    <div class="media-body" style="max-width: 85%;">
                      <h5 class="mt-0" style="font-size: 12px;"><%= fantasy_name %></h5>
                      <div class="row mt-0">
                          <p style="font-size: 9px; position: relative; left: 10%;">Razão social: <%= corporate_name %></p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>

</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>