<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: #9b1435; margin: 0;">
        <div class="container">
          <h1 class="display-4" style="color: aliceblue;">Engenharia de software</h1>
          <p class="lead" style="color: aliceblue;">Trabalho de gerenciamento de software.</p>
          <small style="color: aliceblue;">Alunos:</small><br>
              <% for(let nome of infos.nomes){%>
                <small style="color: aliceblue;"><%=nome.nome%></small><br>
                <%}%>
          <small style="color: aliceblue">Fase: <%=infos.fase%>ª</small>
          <small>Professor: </small>
        </div>
    </div>
    <br>
    <h1 style="color: rgb(0, 0, 0); text-align: center; max-width: 50%;">Conteudo demonstração</h1>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>